{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<ol class="breadcrumb">
        <li><a href="#"><span>Doctors</span></a></li>
        <li><a href="#"><span>Details</span></a></li>
        <li class="active"><span>List </span></li>
    </ol>

    <div class="container">
        <div class="row">
            <!-- left column -->

            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add
                Doctor
            </button>
            <table class="table table-responsive" id="table">
                <thead class="alert-success">

                <tr>
                    <th>Doctor Name</th>
                    <th>Surname</th>
                    <th>Gender</th>
                    <th>Contact</th>
                    <th>Facility</th>
                    <th>Facility City</th>


                    {% if user.is_superuser %}
                        <th>Action</th>
                    {% else %}
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for doctor in doctors %}
                    <tr>
                        <td>{{ doctor.name }}</td>
                        <td>{{ doctor.surname }}</td>
                        <td>{{ doctor.sex }}</td>
                        <td>{{ doctor.contact }}</td>
                        <td>{{ doctor.facility.name }}</td>
                        <td>{{ doctor.facility.city.name }}</td>

                        {% if user.is_superuser %}
                            <td>
                                <center><a class="btn btn-sm btn-warning edit" name="{{ doctor.id }}">Edit</a>
                                    <a class="btn btn-sm btn-success delete" name="{{ doctor.id }}">Delete</a>
                                </center>
                            </td>
                        {% else %}
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>


        <!-- /.box-body -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Doctor</h4>
                    </div>
                    <div class="modal-body">

                        <form class="form-horizontal" action="create_doctor" method="POST">
                            {% csrf_token %}

                            <div class="box box-warning">

                                <!-- /.box-header -->
                                <div class="box-body">

                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Firstname </label>
                                        <input type="text" class="form-control" placeholder="Enter doctor name"
                                               name="name">
                                    </div>
                                    <div class="form-group">
                                        <label>Surname </label>
                                        <input type="text" class="form-control" placeholder="Enter doctor name"
                                               name="surname">
                                    </div>
                                    <div class="form-group">
                                        <label for="sex">Gender</label>
                                       <select name="sex" for="sex" class="form-control">
                                           <option value="M">Male</option>
                                           <option value="F">Female</option>
                                       </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Contact Details </label>
                                        <input type="text" class="form-control" placeholder="Enter Contact details"
                                               name="contact">
                                    </div>
                                    <div class="form-group">
                                        <label  for="facility">Facility</label>


                                        <select name="facility" id="facility" class="form-control">
                                            {% for facility in facilities %}
                                                <option value="{{ facility.id }}">{{ facility.name }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>


                                    <div class="box-footer">

                                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                                    </div>

                                </div>
                                <!-- /.box-body -->
                            </div>

                        </form>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>


    </div>





{% endblock %}
