{% extends 'base.html' %}

<title>{% block title %}Diabetes System:: Diagnosis Page{% endblock %}</title>
{% block content %}
    <ol class="breadcrumb">
        <li><a href="#"><span>Results</span></a></li>
        <li><a href="#"><span>Diabetes Types</span></a></li>
        <li class="active"><span>List </span></li>
    </ol>
    <div class="container">
        <div class="row">
        <div class="">
            <a href="{%  url 'view_patient_record' patient.id %} " ><h4>Patient Name- {{ patient.firstname }} {{ patient.lastname}}</h4></a>
        </div>
             <div class="panel panel-success">
                <div class="panel-heading">Results</div>
                <div class="panel-body">
                    {% if predict == 1 %}
                        <div class="alert alert-danger">
                            <h4>Diabetes Found</h4>
                             <script>
                                 alert("Sms Notification was automaticaly send to patient number");
                             </script>
                        </div>

                    {% else %}
                        <div class="alert alert-success">
                            <strong>Healthy No Signs of Diabetes</strong>
                        </div>

                    {% endif %}


                </div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>

    </div>


{% endblock %}