{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    {% if user.username %}

    {% else %}
        <ol class="breadcrumb" xmlns="http://www.w3.org/1999/html">
            <li><a href="#"><span>System Aims</span></a></li>
            <li><a href="#"><span>Diabetes Types</span></a></li>
            <li class="active"><span>Treatment </span></li>
        </ol>
        <div class="container">
            <div class="row product">
                {% load static %}
                <div class="col-md-5 col-md-offset-0"><img src="{% static 'assets/img/1.png' %}">
                    <img src="{% static 'assets/img/3.png' %}"></div>
                <div class="col-md-7">
                    <h2>System Overview</h2>
                    <p class="text-info">Welcome to E-Health Diagnosis system. Diabetes Mellitus (DM) is commonly
                        referred as Diabetes; itis the condition in which the body does not properly processfood for use
                        as energy. The common symptoms for thediabetic patients are frequent
                        urination, increased thirst,weight loss, slow-healing in wound, giddiness, increasedhunger etc.
                        Diabetes can cause serious health complicationsincluding heart disease, blindness, kidney
                        failure and lowextremityamputations.</p>
                    <h3>Login to Join</h3>

                    <a href="{% url 'login' %}" class="btn btn-primary" role="button">
                        Login
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        {% if user.is_superuser %}

            <ol class="breadcrumb">
                <li><a href="#"><span>System Aims</span></a></li>
                <li><a href="#"><span>Diabetes Types</span></a></li>
                <li class="active"><span>Treatment </span></li>
            </ol>
            <div class="container">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-6">
                            <section class="card">
                               
                               


                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h2 class="text-justify panel-title">System Overview</h2></div>
                                    <div class="panel-body">
                                        <span class="text-primary bg-success"> </span>
                                         {% load static %}
                                      <center><img src="{% static 'assets/img/diabetic2.jpg' %}"></center>

                                        <p>Welcome to E-Health Diagnosis system. Diabetes Mellitus (DM)
                                            is commonly referred as Diabetes; itis the condition in which
                                            the body does not properly processfood for use as energy.</p>
                                            <p>The common symptoms for thediabetic patients are frequent urination,
                                            increased thirst,weight loss, slow-healing in wound, giddiness,
                                            increasedhunger etc. </p>
                                        <p>Diabetes can cause serious health
                                            complicationsincluding heart disease, blindness, kidney
                                            failure and lowextremityamputations</p>
                                    </div>
                                </div>
                            </section>

                        </div>
                        <div class="col-lg-6 ">
                            <section class="card">
                                 <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h2 class="text-justify panel-title">System Modules</h2></div>
                                    <div class="panel-body">
                                        <span class="text-primary bg-success"> </span>

                                        <div class="alert alert-info">Patient Registration</div>
                                        <div class="alert alert-info">Diabetic Diagnosis</div>
                                        <div class="alert alert-info">Patient Sms Notification</div>
                                        <div class="alert alert-info">Doctor Panel</div>
                                        <div class="alert alert-info">System Reports</div>
                                        <div class="alert alert-info">System Knowledge Base</div>


                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}





    {% endif %}



{% endblock %}
